<%# Adding classes to the below to help style the CSS better %>
<p class="question"><span>You asked the <strong>coach</strong>: <br> "<%= params[:question]%>"</span></p>
<br>
<p class="answer">The <strong>coach</strong> says: <br> "<%= @answer %>"</p>
